body {
    font-family: 'Arial', 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #fff;
}

/*===banner区域样式设置开始===*/

/*为banner设置背景图片，将导航链接下移50px*/
.banner {
    min-height: 300px;
    padding-top: 50px;
    background-image: url('../img/bnr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-head {
    padding: 10px 30px;

    background-color: #fff;
}

.banner-head a,
.banner-head a:hover {
    text-decoration: none;

    color: #000;
}

.banner-head .top-menu a:hover,
.banner-head .top-menu li:hover {
    color: #03b80c;
}

.banner-head .navbar {
    font-size: 2rem;

    border: none;
    background-color: #fff;
}

.banner .logo h1 {
    display: block;

    margin-left: 3rem;
}

.banner .logo h1 > a {
    color: #03b80c;
}

.banner .logo h1 .and {
    color: #000;
}

.banner .logo h1 .foods {
    color: #b6a458;
}

/*设置banner的导航栏样式*/
.banner .navbar-default {
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #4cae4c;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #4cae4c;
    background-color: transparent;
}

.navbar .btn,
.navbar input {
    border-radius: 0;
}

.navbar .btn {
    width: 80px;

    background-color: #4cae4c;
}

.navbar .navbar-form {
    margin-right: 9%;
}

.banner-head .logo,
.banner-head .header-right {
    display: inline-block;
}

.banner-head .header-right {
    font-size: 18px;
    margin-left: 40%;
}

/*banner样式结束*/

/*===about样式开始===*/
.about {
    min-height: 500px;
    padding-top: 2rem;
    background-color: #fff;
}

.about h1 ,
.team h1{
    font-size: 50px;
    color: #b6a458;
}

.about h2 {
    color: #4cae4c;
}

.about p,
.about li {
    line-height: 2rem;
    color: #a0a0a0;
}

.about img {
    padding-top: 2rem;
}

.about ul li {
    margin-left: -1.5rem;

    list-style-image: url('../img/icon3.png');
}

/*   about样式结束   */

/*===detail样式开始===*/
.detail{
    min-height: 300px;
    background-image: url('../img/slid.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.detail .jumbotron{
    background-color: transparent;
    color: #fff;
}
.detail .jumbotron .h1{
    font-size: 4rem;
}
.detail .jumbotron p{
    font-size: 1.6rem;
    line-height: 2rem;
}
/*   detail样式结束   */
/*===team样式开始===*/
.team{
    min-height: 550px;
    padding-top: 2rem;
}
.team .container .row h3{
    color: #4cae4c;
}
.team .container .row p{
    color: #a0a0a0;
}
.team .container .row{
    margin-top: 3rem;
}
/*   team样式结束   */
/*===footer开始===*/
.footer {
    min-height: 300px;
    padding-top: 50px;

    background-color: #343434;
}

.footer .container {
    color: #fff;
}

.footer .container p,
.footer .container h5 {
    color: #adadad;
}

.footer .input-group button {
    color: #fff;
    background-color: #343434;
}

.footer a {
    text-decoration: none;

    color: #fff;
}

.footer a:hover {
    color: #4cae4c;
}

.footer i {
    font-size: 2rem;
}

.footer .social {
    word-spacing: 1.5rem;
}

.footer h2 {
    margin-bottom: 2rem;
}

/*---footer结束---*/
/*===copyright开始===*/
.copyright {
    min-height: 50px;
    margin-bottom: -10px;
    padding-top: 10px;

    color: #fff;
    background-color: #4d4d4d;
}

/*---copyright结束---*/
